name: schema

on:
  workflow_call:
    inputs:
      exclude_resources:
        description: 'Comma-separated list of resource types to exclude'
        required: false
        type: string
        default: ''
      exclude_data_sources:
        description: 'Comma-separated list of data source types to exclude'
        required: false
        type: string
        default: ''

permissions:
  contents: read
  issues: write

jobs:
  schema-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout workflow repo
        uses: actions/checkout@v6
        with:
          repository: cloudnationhq/terraform-azure-workflows
          path: called

      - name: setup go
        uses: actions/setup-go@v6
        with:
          check-latest: true
          cache-dependency-path: called/tests/go.sum

      - name: fetch go modules
        working-directory: called/tests
        run: go mod download

      - name: setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Checkout target repo
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          path: caller
          fetch-depth: 0

      - name: Run schema tests
        working-directory: called/tests
        run: go test -v -run TestTerraformSchemaValidation -count=1 schema_test.go
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TERRAFORM_ROOT: "${{ github.workspace }}/caller/"
          EXCLUDED_RESOURCES: ${{ inputs.exclude_resources }}
          EXCLUDED_DATA_SOURCES: ${{ inputs.exclude_data_sources }}
